%pre= params.to_s

%h1= @article.title
%p= @article.body

%a= link_to 'back to all articles', '/articles', class: 'back_to_index'

%a= link_to 'delete this article', article_path(@article), method: :delete, data: {confirm: "really delete the article?"}

%a= link_to 'edit this article', edit_article_path(@article)
